In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Katsuura,35.1333,140.3000,59.49,75,100,11.74,JP,2022-11-14 20:07:20
1,1,Scarborough,54.2797,-0.4044,49.66,92,0,5.55,GB,2022-11-14 20:16:19
2,2,Codrington,-38.2667,141.9667,48.49,65,100,17.49,AU,2022-11-14 20:16:19
3,3,San Cristobal,7.7669,-72.2250,78.98,60,68,4.25,VE,2022-11-14 20:12:35
4,4,Charlottetown,46.2352,-63.1267,39.56,80,97,20.00,CA,2022-11-14 20:13:27

In [3]:
#GET THE DATA TYPES
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [8]:
#Create a Percent Humidity Heatmap
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Create a Percent Cloudiness Heatmap
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Create a Wind Speed Heatmap
# Heatmap of wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#6.5.3 GET VACATION CRITERIA
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 96

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Katsuura,35.1333,140.3000,59.49,75,100,11.74,JP,2022-11-14 20:07:20
3,3,San Cristobal,7.7669,-72.2250,78.98,60,68,4.25,VE,2022-11-14 20:12:35
5,5,Hermanus,-34.4187,19.2345,60.80,66,100,5.53,ZA,2022-11-14 20:16:20
6,6,Busselton,-33.6500,115.3333,51.28,83,0,11.25,AU,2022-11-14 20:16:20
7,7,San Jose,37.3394,-121.8950,63.79,47,20,4.61,US,2022-11-14 20:16:21
8,8,Cidreira,-30.1811,-50.2056,78.33,57,18,8.66,BR,2022-11-14 20:07:57
9,9,San Luis,-33.2950,-66.3356,77.92,21,0,3.24,AR,2022-11-14 20:16:21
10,10,Victoria,22.2855,114.1577,76.17,80,100,8.01,HK,2022-11-14 20:06:21
11,11,Pouembout,-21.1333,164.9000,75.61,77,33,0.51,NC,2022-11-14 20:07:19
12,12,Ushuaia,-54.8000,-68.3000,58.62,67,75,3.44,AR,2022-11-14 20:16:22

In [13]:
preferred_cities_df.count()

City_ID       356
City          356
Lat           356
Lng           356
Max Temp      356
Humidity      356
Cloudiness    356
Wind Speed    356
Country       352
Date          356
dtype: int64

In [14]:
#6.5.4 MAP VACATION CRITERIA
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
0        Katsuura      JP     59.49  35.1333  140.3000
3   San Cristobal      VE     78.98   7.7669  -72.2250
5        Hermanus      ZA     60.80 -34.4187   19.2345
6       Busselton      AU     51.28 -33.6500  115.3333
7        San Jose      US     63.79  37.3394 -121.8950
8        Cidreira      BR     78.33 -30.1811  -50.2056
9        San Luis      AR     77.92 -33.2950  -66.3356
10       Victoria      HK     76.17  22.2855  114.1577
11      Pouembout      NC     75.61 -21.1333  164.9000
12        Ushuaia      AR     58.62 -54.8000  -68.3000

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [ ]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError,IndentationError):
    print("Hotel not found... skipping.")

In [32]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Katsuura,JP,59.49,35.1333,140.3000,Katsuura Hotel Mikazuki
3,San Cristobal,VE,78.98,7.7669,-72.2250,Pirineos
5,Hermanus,ZA,60.80,-34.4187,19.2345,Misty Waves Boutique Hotel
6,Busselton,AU,51.28,-33.6500,115.3333,Observatory Guest House
7,San Jose,US,63.79,37.3394,-121.8950,The Westin San Jose
...,...,...,...,...,...,...
563,Eureka,US,58.19,40.8021,-124.1637,
565,Merauke,ID,78.35,-8.4667,140.3333,
566,Sinnamary,GF,80.42,5.3833,-52.9500,
568,Libertador General San Martin,AR,79.11,-23.8064,-64.7876,
569,La Trinitaria,MX,72.25,16.1167,-92.0500,Hotel Trinitaria

In [33]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Name</dt><dd>{column1}</dd>
<dt>Another name</dt><dd>{column2}</dd>
</dl>
"""

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [38]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))